<div class="card">
  <header class="card__header">
    <span class="card__header__datetime">{{ (notification.scheduled_date | date:'short') || '--:--' }}</span>
    <span class="card__header__category {{ notification.type | lowercase }}">{{ notification.type | i18nSelect: typeTranslation }}</span>
  </header>

  <div class="card__content patient-data">
    <span class="patient-data__name">
      {{ patient.name || "[no name]" }}
      <button (click)="updatePatient(notification.patient_id)" class="patient-data__link">Ver Mini-Perfil</button>
    </span>
    <div class="patient-data__generic">
      <span class="patient-data__generic__title">Observações:</span>
      <p class="patient-data__generic__text">{{ notification.content | slice:1:140 }}...</p>
    </div>
  </div>

  <footer class="card__footer">
    <div class="card__footer__meta">
      <div class="card__footer__meta--archive" [ngClass]="{'active': notification.isArchived}">
        <i class="fa fa-archive"></i>
      </div>
      <div class="card__footer__meta--star" [ngClass]="{'active': notification.isFavorite}">
        <i class="fa fa-star"></i>
      </div>
    </div>

    <div class="card__footer__actions">
      <button class="custom-btn custom-btn--blue">Responder</button>
      <button class="custom-btn custom-btn--green">Confirmar</button>
    </div>
  </footer>

</div>