<header id="header" class="header">
  <a href="/" class="header__logo">Medicinia</a>

  <nav class="header__nav">
    <ul class="header__nav__menu" [ngClass]="{'open': menuStatus}">
      <li><a href="#">Pacientes</a></li>
      <li class="active"><a href="#">Notificações</a></li>
      <li><a href="#">Conversas</a></li>
    </ul>
  </nav>

  <div class="header__user">
    <span class="header__user__name">Dr. Lorem Ipsum</span>
    <img src="./assets/images/doctor_profile.jpg" alt="Dr. Lorem Ipsum" class="header__user__thumb">
  </div>

  <a href="#" class="header__menu-open" (click)="toggleMenu()">
    <i class="fa fa-bars" [ngClass]="{'fa-bars': !menuStatus, 'fa-close': menuStatus}"></i>
  </a>
</header>